
.tasks {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.tasks__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.tasks__item:hover {
    background-color: #f1f1f1;
}

.tasks__item--hidden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
    color: #888;
}

.tasks__button--toggleDone {
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-color: green;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tasks__button--toggleDone:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}

.tasks__button--remove {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: red;
}

.tasks__button--remove:hover {
    color: darkred;
}
